--- 
const isLogged = true

---
<script>
    let isDarkMode = false;
    const toggleDarkMode = () => {
        isDarkMode = !isDarkMode;
        document.documentElement.classList.toggle('dark', isDarkMode);
    };
</script>

<nav class="text-white p-5 bg-slate-900 flex flex-row justify-between">
    <div class="font-bold text-base">Astro Bento Grids</div>
    <ul class="nav-links flex flex-row gap-4"> 
        <li class="nav-item">
            <a href="/portada" class="nav-link">Portada</a>
        </li> 
    </ul>
    <div class="flex flex-row"> 
        {isLogged && <div class="font-bold text-base"> By Bloidev</div>}
    </div>
</nav>